#Ignore compiled object files
*.o

#Ignore temporary copy files
*~
\#*

#Ignore valgrind and gprof output
gmon.out
callgrind.out.*
cachegrind.out.*

#Ignore compiled executable
aither

#Ignore results files
*.fun
*.res
*.out
*_center.xyz