# ignore linker files
*.o

# ignore temporary files and out files
*~
*.out

# ignore sass-cache
.sass-cache

# ignore executable
aither

# ignore test cases
testCases

# ignore vscode files
.vscode

_site