<footer class="site-footer">

    <div id="footer_wrap" class="outer">
      <footer class="inner">
<a href="https://twitter.com/aitherCFD" class="twitter-follow-button" data-show-count="false">Follow @aitherCFD</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

        <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

</footer>
